<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="public/chartist.min.css">
</head>
<body>
	<div class="currency-wrap">
		<table class="cur-table">
			<thead>
				<tr>
					<th>Ресурс</th>
					<th>Покупка</th>
					<th>Продажа</th>
					<th>НБУ</th>
				</tr>
			</thead>
			<tbody>
				<tr class="finance-res">
					<th>Finance.i.ua</th>
					<td class="buy-td"></td>
					<td class="sale-td"></td>
					<td class="nbu-td"></td>
				</tr>
				<tr class="privat-res">
					<th>Privat</th>
					<td class="buy-td"></td>
					<td class="sale-td"></td>
					<td class="nbu-td"></td>
				</tr>
				<tr class="kurs-res">
					<th>Kurs.com.ua</th>
					<td class="buy-td"></td>
					<td class="sale-td"></td>
					<td class="nbu-td"></td>
				</tr>
			</tbody>
		</table>
	</div>	
	<script src="./public/dataFromDB.js"></script>
</body>
</html>